[Unit]
Description=mosquitto client custom logging service

[Service]
ExecStart=/home/andi/.mosqu_conf/scripts/logging.sh

[Install]
WantedBy=multi-user.target
